@import url('https://iosevka-webfonts.github.io/iosevka/Iosevka.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*-- scss:defaults --*/


/*-- scss:rules --*/

// Basic formatting

ol li::marker {
    color: $primary;
}

ol ol li {
    list-style-type: lower-alpha;
}

table {
    margin-bottom: 25px !important;
}

code, pre {
    font-family: 'Iosevka Web', 'JetBrains Mono', monospace !important;
    font-variant-ligatures: none;
}

.MathJax {
  font-size: 100% !important;
}


// Custom classes

.concept {
    color: $primary;
    font-weight: 600;
}

// Yellow highlight, text in brackets for note to self
.todo {
    background-color: $warning;
    color: $white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;

  &::before {
    content: "TODO: ";
    /* optional—you can tweak these to match your styling */
    font-weight: 700;       /* make the “TODO:” extra bold */
    display: inline-block;  /* ensures proper spacing */
    margin-right: 0.5em;    /* give a little room after it */
  }
}
